$border-radius: 7px;
$main-color: #48486e;
$seconday-color: #7a7ab7;
$gradient-1: rgba(72, 72, 110, 0.2);
$gradient-2: rgba(6, 6, 22, 0);
$common-width: 18%;
$font-size: 14px;

#container {
  display: flex;
  position: relative;
  box-sizing: border-box;
  width: 100%;
  height: 36px;
  margin-bottom: $border-radius;
  align-items: center;
  justify-content: space-between;
  font-size: $font-size;
  border-radius: 5px;
  border: 2px solid $main-color;
  background: linear-gradient(90deg, $gradient-1 0%, $gradient-2 100%);
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  flex-grow: 1;
  text-align: start;
  cursor: default;
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
  z-index: 1;

  #rectangle {
    position: absolute;
    width: $border-radius;
    height: 100%;
    background: $main-color;
    flex-shrink: 0;
    transition-property: all;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 150ms;
  }
}

// #container:hover {
//   border: 2px solid $seconday-color;

//   #rectangle {
//     background: $seconday-color;
//   }
// }

#name {
  margin-left: 18px;
  width: 18%;
}

#email {
  width: 28%;
}

#phone {
  width: 18%;
}

#last4 {
  width: 12%;
}

#actions {
  display: flex;
  justify-content: start;
  align-items: center;
  width: 8%;
  height: 100%;
}

#name,
#email,
#phone,
#last4 {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

#proxy {
  width: 100px;
}

#startButton,
#editButton,
#deleteButton {
  margin-right: 7px;
  width: 18px;
  height: 18px;
}

#deleteButton {
  margin-right: 0; // Reset the margin-right for #deleteButton only
}

#container2 {
  display: flex;
  position: relative;
  box-sizing: border-box;
  width: 100%;
  height: 36px;
  margin-bottom: $border-radius;
  align-items: center;
  justify-content: space-between;
  font-size: $font-size;
  border-radius: 5px;
  border: 2px solid #0368be;
  background: linear-gradient(90deg, $gradient-1 0%, $gradient-2 100%);
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  flex-grow: 1;
  text-align: start;
  cursor: default;
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
  z-index: 1;

  #rectangle {
    position: absolute;
    width: $border-radius;
    height: 100%;
    // background: var(
    //   --linear,
    //   linear-gradient(47deg, #0146a6 0%, #0368be 46.88%, #06c6dd 100%)
    // );
    background: #0368be;
    flex-shrink: 0;
    transition-property: all;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 150ms;
  }
}
