html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/*
 * @NOTE: Prepend a `~` to css file paths that are in your node_modules
 *        See https://github.com/webpack-contrib/sass-loader#imports
 */

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

@font-face {
  font-family: 'Biennale';
  src: url('../../assets/fonts/Biennale-Regular.otf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Biennale';
  src: url('../../assets/fonts/Biennale-Medium.otf');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Biennale';
  src: url('../../assets/fonts/Biennale-Bold.otf');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Biennale';
  src: url('../../assets/fonts/Biennale-SemiBold.otf');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Biennale';
  src: url('../../assets/fonts/Biennale-Heavy.otf');
  font-weight: 900;
  font-style: normal;
}

body {
  font-family: 'Biennale', sans-serif;
  color: #ffffff;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  scroll-behavior: smooth;
  overflow: hidden;
  user-select: none;
  text-decoration-color: #ffffff;
  text-decoration-line: none;
  text-decoration-style: solid;
  text-decoration-thickness: auto;
  width: 100vw;
  height: 100vh;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.normal {
  font-family: 'Biennale', sans-serif;
  font-weight: normal;
  font-style: normal;
}

.medium {
  font-family: 'Biennale', sans-serif;
  font-weight: 500;
  font-style: normal;
}

.semibold {
  font-family: 'Biennale', sans-serif;
  font-weight: 600;
  font-style: normal;
}

.bold {
  font-family: 'Biennale', sans-serif;
  font-weight: bold;
  font-style: normal;
}

.heavy {
  font-family: 'Biennale', sans-serif;
  font-weight: 900;
  font-style: normal;
}

.truncate {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

#root {
  width: 100%;
  height: 100%;
}

#container {
  position: relative;
  height: 100%;
  width: 100%;
  padding: 18px;
  box-sizing: border-box;
  background: linear-gradient(134.45deg, #06061a 0%, rgba(6, 6, 26, 0) 100%),
    #02020c;
  border: #4d4d74 1px solid;
}

#cursor {
  width: 10px;
  height: 10px;
  background-color: lime;
  position: absolute;
  border-radius: 50%;
  pointer-events: none;
}

#windowActions {
  top: 0px;
  right: 0px;
  width: 100%;
  position: absolute;
  display: flex;
  justify-content: end;
  z-index: 2;
  -webkit-app-region: drag;

  & > button > svg {
    width: 24px;
  }
}

#windowButton {
  background: transparent;
  border: none;
  color: #4d4d74;
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
  cursor: pointer;
  padding: 1px 6px 1px 6px;
  -webkit-app-region: no-drag;
  outline: none;

  &:hover {
    background: transparent;
    border: none;
    color: #ffffff;
    background-color: #1c1c2c;
  }
}

#exitButton {
  background: transparent;
  border: none;
  color: #4d4d74;
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
  cursor: pointer;
  padding: 1px 6px 1px 6px;
  -webkit-app-region: no-drag;
  outline: none;

  &:hover {
    background: transparent;
    border: none;
    color: #ffffff;
    background-color: #be0a0a;
  }
}

#name {
  font-size: 22px;
  font-weight: 700;
  line-height: 22px;
  margin-top: 15px;
  margin-bottom: 5px;
  background: var(
    --linear,
    linear-gradient(47deg, #0146a6 0%, #0368be 46.88%, #06c6dd 100%)
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  border: none;
  outline: none;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;

  &:focus {
    background: transparent;
    background-clip: border-box;
    -webkit-background-clip: border-box;
    -webkit-text-fill-color: #dbdbdb;
    color: #dbdbdb;
  }
}

#type {
  color: #7d7da0;
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  margin-bottom: 95px;
  opacity: 0.5;
}

#iconContainer {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 36px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1px;
  width: 114px;
  height: 114px;
  border-radius: 50%;
  background: linear-gradient(180deg, #06061a 0%, rgba(6, 6, 26, 0.85) 100%);
}

#icon {
  width: 55px;
  height: 55px;
}

#buttons {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

#login {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 45px;
  height: 25px;
  border-radius: 4px;
  background: linear-gradient(47deg, #0146a6 0%, #0368be 46.88%, #06c6dd 100%);

  & > :first-child {
    width: 11px;
    height: 13px;
  }
}

#open {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 45px;
  height: 25px;
  border-radius: 4px;
  background: linear-gradient(47deg, #0146a6 0%, #0368be 46.88%, #06c6dd 100%);

  & > :first-child {
    width: 12px;
    height: 12px;
  }
}

#delete {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 45px;
  height: 25px;
  border-radius: 4px;
  background: var(--style, linear-gradient(180deg, #ff0047 0%, #ff4d7e 100%));

  & > :first-child {
    width: 9px;
    height: 13px;
  }
}

@keyframes ldio-zjm7a5tgug {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.spinner2 div {
  position: absolute;
  animation: ldio-zjm7a5tgug 1s linear infinite;
  width: 118.2px;
  height: 118.2px;
  left: 2px;
  border-radius: 50%;
  box-shadow: 0 4px 0 0 #0368be;
  transform-origin: 59.1px 61.07px;
}
.spinner1 {
  width: 122px;
  height: 122px;
  display: inline-block;
  position: absolute;
  overflow: hidden;
  background: transparent;
}
.spinner2 {
  width: 114px;
  height: 114px;
  position: relative;
  transform: translateZ(0) scale(1);
  backface-visibility: hidden;
  transform-origin: 0 0; /* see note above */
}
.spinner2 div {
  box-sizing: content-box;
}
